.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.form label {
    margin-bottom: 5px;
}

.form input[type="number"],
.form input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 5px 10px;
    background-color: #151535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    filter: brightness(90%);
}

.footerButtons {
    display: flex;
    justify-content: space-between;
}