.container {
    display: block;
}

.title {
    background-color: rgb(68, 111, 112);
    height: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.list {
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    font-size: 18px;

}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    background-color: cadetblue;
}

.item:hover {
    filter: brightness(90%);
}