.container {
    display: block;
    font-weight: bold;    
}

.title {
    background-color:#6495ED;
    height: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.list {
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    font-size: 18px;

}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    background-color: #1E90FF;
    border-top: 1px solid ;
    cursor: pointer;
}

.item:hover {
    filter: brightness(90%);
}