.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    padding-bottom: 8px;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.line {
    display: flex;
    flex-direction: column;
    background-color: none;
    border-radius: 4px;
    margin-bottom: 4px;
}

.lineTitle {
    padding-left: 4px;
    font-size: large;
    font-weight: bold;
}

.lineContentDivider {
    border-top: 2px solid black;
    color: black;
    width: 100%;
    padding: 4px 0;
    border-radius: 4px;
}

.lineItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    /* background-color: #8e88b2; */
    background-color: #F0F8FF;
    border: 1px solid black;
    height: fit-content;
    padding: 0 0 4px 4px;
    margin: 0 0 4px 4px;
    border-radius: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 200px;
    height: 240px;
}

.item:hover {
    filter: brightness(90%);
    cursor: pointer;
}