.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.line {
    display: flex;
    flex-direction: column;
    background-color: #514f73;
    margin-bottom: 4px;
}

.lineTitle {
    padding-left: 4px;
    font-size: large;
    font-weight: bold;
}

.lineContentDivider {
    border-top: 2px solid black;
    color: black;
    width: 100%;
    padding: 4px 0;
    border-radius: 4px;
}

.lineItems {
    display: flex;
    flex-direction: row;
}

.item {
    background-color: #8e88b2;
    height: fit-content;
    padding: 4px;
    margin-left: 4px;
    border-radius: 8px;
}

.item:hover {
    filter: brightness(90%);
    cursor: pointer;
}