.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.button {
    padding: 4px;
    margin: 4px;
    border-radius: 6px;
    border: none;
    color: black;
    font-weight: bold;
    font-size:medium;
    background-color: #a39be5;
    flex: 0;
}

.button:hover {
    filter: brightness(90%);
    cursor: pointer;
}