.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.button {
    padding: 4px;
    margin: 4px;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: grey;
    flex: 0;
}

.button:hover {
    filter: brightness(90%);
}