.container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.item {
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover {
    filter: brightness(90%);
}