.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.item {
    background-color: #4169E1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;    
}

.item:hover {
    filter: brightness(90%);
    cursor: pointer;
}