.container {
    background-color: #5c589c;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.item {
    background-color: #444283;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.item:hover {
    filter: brightness(90%);
    cursor: pointer;
}