.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 140px auto;
  /* Duas linhas de altura automática */
  grid-template-areas:
    "header header"
    "sidebar content";
  /* Duas colunas */
  /* Espaçamento entre as células */
  /* Borda para visualização */
}

.header {
  grid-row: 1;
  grid-area: header;
}

.sideBar {
  grid-row: 2;
  background-color: #4169E1;
}

.content {
  grid-row: 2;
  overflow: hidden;
}